<nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
  <header class="avatar">
		<img src="{{profileInfo?.picture}}" />
    <h2>{{profileInfo?.name}}</h2>
    <br>
    <app-logout-button></app-logout-button>
  </header>
	<ul>
    <li [routerLink]="['/home']" tabindex="0" class="icon-dashboard"><b><span>Inicio</span></b></li>
    <li [routerLink]="['/CrearTarea']" tabindex="0" class="icon-settings"><b><span>Crear Tarea</span></b></li>
    <li [routerLink]="['/CrearGrupo']" tabindex="0" class="icon-users"><b><span>Crear Grupo</span></b></li>
    <li tabindex="0" class="icon-settings"><b><span>Opciones</span></b></li>
    <li [routerLink]="['/EnviaMail']" tabindex="0" class="icon-mail"><b><span>Mail</span></b></li>
  </ul>
</nav>
