<nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
  <header class="avatar">
		<img src="{{profileInfo?.picture}}" />
    <h2>{{profileInfo?.name}}</h2>
    <br>
    <app-logout-button></app-logout-button>
  </header>
	<ul>
    <li tabindex="0" class="icon-dashboard"><span>Inicio</span></li>
    <li tabindex="0" class="icon-settings"><span>Crear tarea</span></li>
    <li tabindex="0" class="icon-users"><span>Crear Grupo</span></li>
    <li tabindex="0" class="icon-settings"><span>Opciones</span></li>
  </ul>
</nav>
