<app-navbar></app-navbar>

<form style="padding-left: 30%; padding-top: 7%" [formGroup]="infoForm" (ngSubmit)="CrearTarea()" autocomplete="off">
  <input type='text' name="inputTodo" [(ngModel)]="inputTodo" required formControlName="descripcion" >
  <label alt='New Task' placeholder='Task To-Do'></label>
  <span class="input-group-btn">
    <button class="btn btn-default" type="submit">Add Task !</button>
  </span>
</form>

<div style="padding-left: 30%; padding-top:0.5%;">
  <ul class="list">
    <li class="list-item" *ngFor="let task of tasks; let i = index;">
      <input type="checkbox" [checked]="task.statusId" class="hidden-box" id="{{task.tareaId}}" />
      <label for="{{task.tareaId}}" class="check--label">
        <span class="check--label-box"></span>
        <span class="check--label-text">{{task.descripcion}}</span>
        <span type="button" (click)="DeleteTask(task.tareaId)" style="padding-left: 2%;" class="badge bg-danger">Delete</span>
        <span type="button" (click)="EditTask(task.tareaId)" style="padding-left: 2%;margin-left:5%;" class="badge bg-warning">Edit</span>
      </label>
    </li>
    </ul>
</div>

