<app-navbar></app-navbar>
<div id="crearGrupo-main">
  <form [formGroup]="infoForm" (ngSubmit)="CrearGrupo()" #form="ngForm">
    <div>
      <div>
        <div>
          <div class="field" tabindex="1">
            <h1><b>CREATE A NEW GROUP</b></h1>
            <b><label for="groupnombre"> <i class="far fa-user"></i>NAME GROUP </label></b>
            <input name="groupnombre"
                   type="text"
                   placeholder="ex: TASK 1"
                   required
                   formControlName="nombre" />
          </div>
          <button type="submit">Save group</button>
          <div class="social-media"></div>
        </div>
      </div>
    </div>
  </form>
</div>
