<div class="page-wrap">
  <article>
    <header class="article-header">
      <h4 class="classification-header">
        TO-DO
      </h4>

      <svg viewBox="0 0 560 259" class="header-lockup">
        <text transform="matrix(1 0 0 1 -0.00007 116.14385)">
          <tspan x="0" y="0" font-family="'Montserrat'" font-size="130px">
            BRAIN
          </tspan>
          <tspan x="0" y="139" font-family="'Montserrat'" font-size="150px">
            STORM
          </tspan>
        </text>
        <circle fill="#FFFFFF" cx="128.50781" cy="126.5" r="34.5" />
        <text transform="matrix(1 0 0 1 114.62256 123)">
          <tspan x="0" y="0" font-family="'Montserrat'" font-size="19px">
            TO
          </tspan>
          <tspan
            x="-6.28906"
            y="17"
            font-family="'Montserrat'"
            font-size="19px"
          >
            DO
          </tspan>
        </text>
      </svg>

      <h2>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, dolores! Quibusdam, sint porro molestiae blanditiis illum nobis earum rem dolores.  
      </h2>

      <div class="byline">
        By brainstorm team
      </div>
    </header>

    <div class="intro-ps">
      <p>
        <strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisicing
        elit. Illum quaerat quod nemo voluptas voluptatum itaque eaque amet
        consequuntur cum quam error dolore facilis reprehenderit impedit,
        consectetur ex, quae, ducimus deserunt.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem,
        facilis eligendi. Saepe blanditiis animi commodi modi alias accusamus
        similique reprehenderit aliquam non dolores quos, nisi nam aliquid
        beatae adipisci cumque?
      </p>
      <p>
        Voluptates placeat totam illo sapiente magni animi corrupti, aut iure
        mollitia nihil. Dolores magni quod praesentium laudantium, et aperiam
        voluptatem nobis, iste voluptates, sint excepturi tempore asperiores ex
        saepe cupiditate.
      </p>
    </div>

    <aside class="in-brief">
      <h3>In process</h3>
      <div class="in-brief-content">
        <p>
          <strong>Ancient Egyptians</strong> habitant morbi tristique senectus
          et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
          feugiat vitae, ultricies eget.
          <strong>Long thought to serve in</strong> ante. Donec eu libero sit
          amet quam egestas semper. Aenean ultricies mi vitae est. Mauris
          placerat eleifend leo. <strong>Go to bed.</strong>all franco coo
          beansio. and stuff and stuff hello vegas.
        </p>
      </div>
    </aside>
  </article>
</div>

